
<div class="row rowstyle">
  <div class="col col-sm-4" style=" display: flex;align-items: center;justify-content: center;" (click)="CollapseData=!CollapseData">
    Greška1
  </div>
  <div class="col col-sm-4"style=" display: flex;align-items: center;justify-content: center;" (click)="CollapseData=!CollapseData">
    Vrsta greške
  </div>
<div class="col col-sm-4">
  <select [className]=default.style (ngModelChange)="setStatus($event)" [(ngModel)]="default" [disabled]="disableStatus">
      <option *ngFor="let status of Statuses" [(ngValue)]="status" >
        {{status.text}}
      </option>
    </select>
</div>
<div class="col col-sm-12"[ngbCollapse]="CollapseData">
  <div class="row">
      <div class="col">Prijavio: korisnik</div>
      <div class="col">Datum kreiranja: datum</div>
    </div>
    <div class="row">
      <div class="col">Zadnja izmjena: datum</div>
      <div class="col">Prioritet: 1</div> 
    </div>
    <div class="row">    
      <input class="button glow-button col" type="button"value="Izbriši">
     </div>
</div>
</div>

