<app-navbar></app-navbar>
<!--Section: Features v.4-->
<section>

  <!--Section heading-->
  <h1 class="py-5 font-weight-bold text-center" style="color: white;">Why choose us?</h1>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead grey-text text-center" style="color: white;">We make products that help you get work done easier and faster,
							and we help you improve through long-term support.</p>

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-md-4">

      <!--Grid row-->

      <div class="row mb-2">
        <div class="col-10 text-left" style="margin-left: 17%; margin-bottom: 5%;">
			<div class="card">
				<div class="card-header"><h5>Agile</h5></div>
				<div class="card-body">
				<p class="card-text">Our teams work in small groups, releasing new versions of products on a weekly basis.
				This way, you can start using the most critical app features quickly, without having to wait
				for all features to be developed.</p>
				</div>
			</div>
		</div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-10 text-left" style="margin-left: 17%; margin-bottom: 5%;">
			<div class="card">
			<div class="card-header"><h5>Modern</h5></div>
				<div class="card-body">
				<p class="card-text">Our products are made using the latest technologies and frameworks, which guarantees a better user
				experience and satisfaction, along with getting to use the newest features and moving with time.</p>
				</div>
			</div>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-10 text-left" style="margin-left: 17%; margin-bottom: 5%;">
			<div class="card">
			<div class="card-header"><h5>Effective</h5></div>
				<div class="card-body">
				<p class="card-text">As soon as a user change request is made, a team of our professionals is assembled and the request analysed.
				Our experts proceed to create a PSO document which offers a detailed overview of the proposed change
				and its consequences, which can help you sort out what changes are good for your business.</p>
				</div>
			</div>
        </div>
      </div>
      <!--Grid row-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4 mb-2 flex-center" style="margin-top: 15%;">
      <img src="https://i.imgur.com/kEZgtjK.png" alt="" class="z-depth-0">
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-10 text-left" style="margin-bottom: 5%;">
			<div class="card">
				<div class="card-header"><h5>Helpful</h5></div>
				<div class="card-body">
				<p class="card-text">Our helpdesk support teams are available 24/7, always working hard to analyse user requests, assign
				user error reports to developer teams and hoping to answer all user queries as soon as possible.</p>
				</div>
			</div>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-10 text-left" style="margin-bottom: 5%;">
			<div class="card">
				<div class="card-header"><h5>Diverse</h5></div>
				<div class="card-body">
				<p class="card-text">Regardless of whether you prefer web, desktop or mobile applications, our teams can make any or
				all of them, according to your standards and preferences, turning your ideas into reality and allowing you to
				use a variety of tools for improving your business.</p>
				</div>
			</div>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row mb-2">
        <div class="col-10 text-left" style="margin-bottom: 5%;">
			<div class="card">
				<div class="card-header"><h5>Efficient</h5></div>
				<div class="card-body">
				<p class="card-text">Our professionals work hard and strive to achieve success by offering the users new features and changes
				as soon as possible. Someone is always working on fixing errors and developing changes so that a new
				product version can be released as soon as possible</p>
				</div>
			</div>
        </div>
      </div>
      <!--Grid row-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--/Section: Features v.4-->