<div class="modal-fade">
  <div class="modal-header col-md-12">
    <div class="col-md-12 naslov">Prijava na račun</div>
  </div>

<div class="modal-body">
  <div class="content">
    <div class="text col-md-12">Molimo prijavite se na račun:</div>
    <form>
      <div class="row col-md-12">
        <div class="col-md-4 text_alignment">Username:</div>
        <div class="col-md-8"><input type="text" class="input borders" placeholder="Korisničko ime"></div>
      </div>
      <div class="row col-md-12">
          <div class="col-md-4 text_alignment">Password:</div>
          <div class="col-md-8"><input type="password"  class="input borders" placeholder="Šifra"></div>
      </div>
      <div class="row col-md-12">
        <div class="col-md-3">
          
        </div>
        <input class="btn col-md-6 col-md-offset-3" type="button" value="Prijava">
          
      </div>
  </form>
</div>
</div>
</div>