<div class="row" style="height: 100%">
    <div class="col col-sm-2" style="background:rgba(14, 65, 104, 0.7);height: 100%;">
        <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Zahtjevi za promjenama</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Prijave grešaka</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Izvještaji</a>
        </li>
      </ul>
      </div>
      <div class="col col-sm-10" >
        <app-change-management [MyPromjene]="true"></app-change-management>
      </div>
</div>
