.page-footer {
  padding-bottom:70px;
  }
  .footer-copyright{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0E4168;
    color: white;
    text-align: center; 
  }